<div class="row mt-4">
  <div class="col-md-6 d-none d-md-block" style="height: 450px;">
    <div class="text-center col-md-12 my-auto side-heder">
      <h2>Welcome to ProEvents!</h2>
      <h5>Let’s begin the adventure</h5>
      <img src="../../../../assets/register.svg" class="my-4" alt="" width="400px">
    </div>
  </div>
  <div class="col-md-6">
    <form class="p-1" [formGroup]="form">
      <div class="pb-2 d-block d-md-none">
      </div>
      <div class="row mt-5">
        <div class="form-text col-sm-6 mt-1">
          <label class="form-text">First name</label>
          <input type="text" class="form-control"
            [ngClass]="{'is-invalid': f.firstName!.errors && f.firstName!.touched}" formControlName="firstName"
            placeholder="Enter your first name" />
          <div *ngIf="f.firstName!.errors?.required && f.firstName!.touched" class="invalid-feedback">
            Please fill this field
          </div>
        </div>
        <div class="form-text col-sm-6 mt-1">
          <label class="form-text">Last name</label>
          <input type="text" class="form-control" [ngClass]="{'is-invalid': f.lastName!.errors && f.lastName!.touched}"
            formControlName="lastName" placeholder="Enter your last name" />
          <div *ngIf="f.lastName!.errors?.required && f.lastName!.touched" class="invalid-feedback">
            Please fill this field
          </div>
        </div>
      </div>
      <div class="form-text">
        <label class="form-text" for="">Email:</label>
        <input class="form-control" type="email" formControlName="email"
          [ngClass]="{'is-invalid': f.email.errors && f.email.touched}" placeholder="Enter your email" />
        <div *ngIf="f.email!.errors?.required && f.email!.touched" class="invalid-feedback">Please fill this field</div>
        <div *ngIf="f.email!.errors?.email && f.email!.touched" class="invalid-feedback">The Email is not valid.</div>
      </div>
      <div class="form-text">
        <label class="form-text" for="">Username:</label>
        <input class="form-control" type="text" formControlName="username"
          [ngClass]="{'is-invalid': f.username.errors && f.username.touched}" placeholder="Enter your username" />
        <div *ngIf="f.username!.errors?.required && f.username!.touched" class="invalid-feedback">Please fill this field
        </div>
      </div>

      <div class="row">
        <div class="form-text col-sm-6 mt-1">
          <label class="form-text">Password</label>
            <input class="form-control d-none" type="password" formControlName="password"
            [ngClass]="{'is-invalid': f.password.errors && f.password.touched}"
            placeholder="Confirm your password" />
            <div class="input-group mb-3">
              <input [type]="fieldTextType ? 'password' : 'text'" class="form-control " formControlName="password"
                (click)="toggleFieldTextType()" [ngClass]="{'is-invalid': f.password.errors && f.password.touched}"
                placeholder="Create a password" />
              <span class="input-group-text">
                <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType}"
                  (click)="toggleFieldTextType()"></i>
              </span>
            </div>
            <div *ngIf="f.password!.errors?.minlength && f.password!.touched" class="invalid-feedback">
              Password must be at least 6 characters
            </div>
            <div *ngIf="f.password!.errors?.required && f.password!.touched" class="invalid-feedback">
              Please fill this field
            </div>
        </div>
        <div class="form-text col-sm-6 mt-1">
          <label class="form-text">Confirm password:</label>
          <input class="form-control d-none" type="password" formControlName="confirmPassword"
            [ngClass]="{'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched}"
            placeholder="Confirm your password" />
            <div class="input-group mb-3 form-text">
              <input class="form-control" [type]="fieldTextTypeConfirmation ? 'password' : 'text'" formControlName="confirmPassword"
              [ngClass]="{'is-invalid': f.confirmPassword.errors && f.confirmPassword.touched}"
              placeholder="Confirm your password" />
              <span class="input-group-text" id="basic-addon2">
                <i class="fa" [ngClass]="{'fa-eye-slash': !fieldTextTypeConfirmation, 'fa-eye': fieldTextTypeConfirmation}" (click)="toggleFieldTextTypeConfirmation()"></i>
              </span>
            </div>
          <div *ngIf="f.confirmPassword!.errors?.required && f.confirmPassword!.touched" class="invalid-feedback">
            Confirm your passoword
          </div>
          <div *ngIf="f.confirmPassword!.errors?.minlength && f.confirmPassword!.touched" class="invalid-feedback">
            Password confirmation must be at least 6 characters
          </div>
          <div *ngIf="f.confirmPassword!.errors?.mustMatch" class="invalid-feedback">
            Your password and confirmation must be match
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-2">
        <div class="custom-control custom-checkbox mt-1 d-flex align-items-center">
          <input type="checkbox" class="form-check-input me-2" id="customCheck1">
          <label class="form-check-label form-text ">By clicking Sign Up, you agree to our Terms <a href="#">Privacy
              Policy</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12 d-grid gap-2">
          <button class="btn btn-lg btn-success btn-block px-lg-5" [disabled]="!form.valid">
            Create account
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12 me-auto d-flex justify-content-center">
          <a class="btn btn-link btn-block form-text" routerLink="/user/login">
            Already have an account?
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
