<h2>Events</h2>
<hr>
<form class="row g-3">
  <div class="col-auto">
    <label for="search" class="visually-hidden">Search</label>
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <div class="col-auto mb-3">
    <button class="btn btn-outline-success">Search</button>
  </div>
</form>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Image</th>
      <th>Theme</th>
      <th>Place</th>
      <th>Date</th>
      <th>Participants</th>
      <th>Lot</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let event of events">
      <td>{{event.eventId}}</td>
      <td>{{event.imageURL}}</td>
      <td>{{event.theme}}</td>
      <td>{{event.place}}</td>
      <td>{{event.eventDate}}</td>
      <td>{{event.qtdPeoples}}</td>
      <td>{{event.lot}}</td>
      <td>-</td>
    </tr>
  </tbody>
</table>
