<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="dashboard">ProEvents</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [collapse]="isCollapsed" [isAnimated]="true">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link link-dark" aria-current="page" routerLink="events">Events</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link link-dark" routerLink="speakers">Speakers</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link link-dark" routerLink="contacts">Contacts</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link link-dark disabled">Disabled</a>
        </li> -->
      </ul>
      <ul class="navbar-nav ms-auto me-md-4">
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle class="nav-link dropdown-toggle" style="cursor: pointer;" id="navbarDropdownMenuLink" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            mts
          </a>
          <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="profile" routerLinkActive="active">
              Profile
            </a>
            <div role="separator" class="divider"></div>
            <a class="dropdown-item" href="#">
              Log out
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

